[submodule "extensions/cline"]
	path = extensions/cline
	url = https://github.com/ritivel/cline.git
[submodule "extensions/vscode-markdown-editor"]
	path = extensions/vscode-markdown-editor
	url = https://github.com/ritivel/vscode-markdown-editor.git
[submodule "extensions/LaTeX-Workshop"]
	path = extensions/LaTeX-Workshop
	url = https://github.com/ritivel/LaTeX-Workshop.git
